.a{
color:yellow;
background-color:#FF0000;
text-align:center;
font-size:36px;
}
.b{
background-color:#FF6600;
color:#FFFFFF;
height:50;
font-size:25px;
}
.c{
color:#0099FF;
font-size:36px;

}